{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GAME BUY — Store</title>
  <link rel="stylesheet" href="{% static 'styles/main_page.css' %}">
  <link rel="stylesheet" href="{% static 'styles/style_exp.css' %}">
</head>
<body>
  <header>
    
    <div class="topbar">
      <div class="logo"></div>
      
      <nav class="nav_1">
        <a href="#">МОЙ ИНВЕНТАРЬ</a>
        <a href="#">БИБЛИОТЕКА</a>
        <a href="#">СООБЩЕСТВО</a>
      </nav>
      <nav class="nav_2">
        <a href="#">Поддержка</a>
        {% if user.is_authenticated %}
          <a href="{% url 'cart_view' %}" class="btn btn-1">Корзина</a>
          <a href="{% url 'logout' %}" class="btn btn-log">Выход</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-log">Вход</a>
          <a href="{% url 'register' %}" class="btn btn-sign">Регистрация</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="">
    <div class="search-row">
        <div class="search">
        <input type="text" placeholder="Искать в магазине" />
        <a href="{% url 'main_page' %}" class="btn-1">Главное</a>
        <a href="{% url 'game_list' %}" class="btn-1">Все игры</a>
      </div>

      <a href="{% url 'cart_view' %}" class="btn-1">Корзина</a>
    </div>
    <section class="hero">
      <div class="cell"><img src="{% static 'img/r6-logo.png' %}" alt=""></div>
      <div class="cell"></div>
      <div class="cell bottom-left">
        <h2 class="adv-window">Уже доступно</h2>
        <p class="">Погрузитесь в тактический шутер и опробуйте нового оперативника - “Денари”</p>
        <a class="btn" href="#">Узнать больше</a>
      </div>
      <div class="cell"></div>
    </section>

    <section>
      <h2>Скидки</h2>
      <div class="grid">
        <div class="card">
          <div class="thumb thumb-war-mongrels"></div>
          <div class="title">War Mongrels</div>
          <div class="price"><span class="discount">-80%</span><span class="old">5 790 KZT</span><strong>1 158 KZT</strong></div>
        </div>
        <div class="card">
          <div class="thumb thumb-football"></div>
          <div class="title">Football Manager 26</div>
          <div class="price"><span class="discount">-10%</span><span class="old">26 900 KZT</span><strong>24 210 KZT</strong></div>
        </div>
        <div class="card">
          <div class="thumb thumb-escape"></div>
          <div class="title">Escape Academy</div>
          <div class="price"><span class="discount">-70%</span><span class="old">2 570 KZT</span><strong>771 KZT</strong></div>
        </div>
        <div class="card">
          <div class="thumb thumb-trepang"></div>
          <div class="title">Trepang2</div>
          <div class="price"><span class="discount">-60%</span><span class="old">1 930 KZT</span><strong>772 KZT</strong></div>
        </div>
        <div class="card">
          <div class="thumb thumb-sekiro"></div>
          <div class="title">Sekiro</div>
          <div class="price"><span class="discount">-60%</span><span class="old">1 930 KZT</span><strong>772 KZT</strong></div>
        </div>
      </div>
    </section>

    <section class="featured">
      <div class="feature">
        <h2>Tom Clancy’s Rainbow Six Siege X</h2>
        <p>Врывайся в новую операцию «Высокие ставки» и забирай бесплатные наборы со скином!</p>
        <a class="btn" href="#">Играть бесплатно</a>
      </div>
      <div class="feature">
        <h2>Hell Let Loose — Обновление 18</h2>
        <p>Переработанная карта Сталинграда, новая система брони и важные улучшения удобства игры.</p>
        <strong>12 399 KZT</strong>
      </div>
    </section>

    <section>
      <h2>В тренде</h2>
      <div class="grid">
        <div class="card"><div class="thumb thumb-sekiro"></div><div class="title">SEKIRO</div><strong>27 137 KZT</strong></div>
        <div class="card"><div class="thumb thumb-hollow"></div><div class="title">Hollow Knight: Silksong</div><strong>5 200 KZT</strong></div>
        <div class="card"><div class="thumb thumb-albion"></div><div class="title">Albion Online</div><strong>FREE</strong></div>
        <div class="card"><div class="thumb thumb-vampire"></div><div class="title">Vampire: The Masquerade® – Bloodlines™ 2</div><strong>19 700 KZT</strong></div>
        <div class="card"><div class="thumb thumb-vampire"></div><div class="title">Vampire: The Masquerade® – Bloodlines™ 2</div><strong>19 700 KZT</strong></div>
      </div>
    </section>
  </main>

  <footer>
        <div class="footer-inner">
      <div>© GAME BUY</div>
      <div><a href="{% url 'home' %}">Вернуться на Home</a> · Главное · Корзина · Поддержка</div>
    </div>
  </footer>
</body>
</html>
