@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jockey+One&display=swap');

body{
    
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #0C0032;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0px 0px;
 
    gap: 30px;
    border: 1px solid black;
    background-color: #1A0061;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter';
    gap: 40px;
    text-decoration: none;
    flex-wrap: nowrap;
       width: 100%;
    
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.logo-img{
    flex-shrink: 0;
}

.logo-img img {
    height: 60px;
    width: 60px;
    display: block;
}

.navbar a:first-child {
    font-family: 'Jaro';
   
}
.logo{
       margin-left: -20px; 
    margin-right: 30px
}

.right-nav{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: 2%;
    font-family: 'Inter';
    
}


.login-btn{
    font-size: 12px;
    background: rgba(140, 120, 255, 0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 6px;
    margin:10px 0px;
    padding: 0px 20px;
}

.signup-btn{
     font-size: 12px;
    background: #26BBFF;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 6px;
    margin:10px 0px;
    padding: 0px 10px;
    
}
.signup-btn h5{
    color: black;
 
}

.search-btn {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;  
    font-style: italic;
    border: 1px solid #3500D3;
    border-radius: 24px;
    background-color: #3500D3;
    text-decoration: none;
    color: aliceblue;
    padding: 10px 35px;
    gap: 15px;
    
}


.search-btn a {
    text-decoration: none;
    color: aliceblue;
    opacity: 0.5;

}

.sub-header{
    display: flex;
    align-items: center;
    gap: 22px;
    margin-left: 150px;
    margin-top: 0px;
    padding: 20px 30px;
    
    
}



    
.search-btn img {
    position: absolute;  
    left:188px;
    width: 20px;
    height: 20px;
}

.filter {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 183px;
    display: flex;
    align-items: center;
    
   
    
}

.filter img{
     border: 1px solid #3500D3;
     border-radius: 13px;
     padding: 7px 7px;
     width: 20px;
     height: 20px;  
     background-color: #3500D3  

}

.text-area{
    display: flex;
    align-items: center;
    
    
   padding: 0px 60px;
    gap: 30px;
    flex: 1;
   
}

.text-area a{
     text-decoration: none;
    color: aliceblue;
    font-family: 'Inter';
    font-weight: 200;

}

.nav-home{
    opacity: 0.5;
}

.nav-cart{

    margin-left: 650px;
}

.all-games {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    gap: 60px;
    justify-content: center;
    margin-bottom: 600px;
    width: 100%;
}


.name-game{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: aliceblue;
    font-family: 'Inter';
    padding: 5px 0px;
    font-weight: 700;
    font-size: 12px;

}

.name-game a{
    text-decoration: none;
    color: aliceblue;


}
.price-game{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: aliceblue;
    font-family: 'Inter';
  
    font-weight: 200;
    font-size: 12px;
   
  

}

.footer{
    margin-top: auto;
}

.footer img {
   display: block;
   width: 100%;
   
}

.sale-game{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex: 1;
}

.sales{
    border: 1px solid #26BBFF;
    border-radius: 9999px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#26BBFF;
    font-family: 'Inter';
    font-size: 12px;
    
    
}

.sale-price {
   color: aliceblue;
   font-size: 14px;
   opacity: 0.5;
   text-decoration: line-through;
   
}

