@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jockey+One&display=swap');

body{
    
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #0C0032;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0px 0px;
 
    gap: 30px;
    border: 1px solid black;
    background-color: #1A0061;

}

/* (rest omitted) */
